@import "mixin";
// style for page-top icon
@import "modules/page-top";
// style for side-menu
@import "modules/_side-menu.scss";

html, body {
	margin:0 auto;
	height: 100vh;
}
#container {
	margin: 0 auto;
	width: 80%;
}

// index.html styles
#dropzone {
	background-color: #cfc;
	border: solid 3px #9c9;
	color: #9c9;
	min-height: 50px;
	padding: 20px;
	text-shadow: 1px 1px 0 #fff;
	&.dropover {
		background-color: #cff;
		color: #9cc;
	}
}

#files:empty::before {
	color: #ccc;
	content: "(Files data will be shown here.)";
}
#files img {
	border: solid 1px #ccc;
	cursor: pointer;
	height: auto;
	margin: 0 10px;
	max-height: 128px;
	max-width: 128px;
	width: auto;
}

#txtarea{
		width: 90%;
		height: 200px;
		overflow: auto;
		background: black;
		color:white;
		white-space: pre;
		padding: 1em;
}

#links {
	& > p {
		font-weight: 400;
	}
}
.item_category {
	list-style: none;
	& > li {
		font-weight: 300;
	}
}
// flexbox style refered from https://www.webcreatorbox.com/tech/css-flexbox-cheat-sheet
.item_childs {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content:flex-start;
	align-content: flex-start;
	& > li {
		list-style: none;
		font-size: small;
		margin-left: 2em;
		margin-bottom: 1em;
	}
}


// reference from https://webdesignday.jp/inspiration/technique/css/5316/
#links {
	& .acd-check{
		display: none;
	}
	& .acd-label{
		background: rgb(1, 182, 1);
		color: #fff;
		display: block;
		margin-bottom: 1px;
		padding: 3px;
		&:hover {
			background: darkgreen;
			font-weight: bold;
			cursor: pointer;
		}
	}
	& .acd-content{
		border: 1px solid #333;
		height: 0;
		opacity: 0;
		padding: 0 10px;
		transition: .7s;
		visibility: hidden;
	}
	// & .acd-check:checked + .acd-label + .acd-content{
	& .acd-content.acd-open {
		// height: auto;
		height: 200px;
		opacity: 1;
		padding: 10px;
		visibility: visible;
		overflow: scroll;
	}
}


