/* pagetop_styles.css */
/* refer : https://rfs.jp/sb/javascript/js-lab/brn-backtotop.html */
#page_top{
  width: 50px;
  height: 50px;
  position: fixed;
  right: 30px;
  bottom: 50px;
  background: #3f98ef;
  border-radius: 50%;
  display: block;
  z-index: 10;
  opacity: 0;
}
#page_top p{
  position: relative;
  display: block;
  width: 50px;
  height: 50px;
  text-decoration: underline;
  color: white;
  top: 10px;
  /* text-align: center; */
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  line-height: 0;
}
#page_top.fadein {
  opacity: 0.6;
	transition: all .5s;
}
#page_top.fadein:hover {
  opacity: 0.9;
}

